
.parallax-container {
      height: "300px";
}


#construction{
  /*margin: 20px;*/
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  align="center";
  max-height: 520px;
  width: auto;
  position: relative;

}


/*#construction:hover {
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
}*/


@font-face {
  font-family: "FontAwesome";
  src: url("fontawesome-webfont.woff");
}

#icono_facebook{
  color: white;
  -webkit-transition: color 0.1s linear; /* Chrome y Safari */
  -o-transition: color 0.1s linear; /* Opera */
  -moz-transition: bcolor 0.1s linear; /* Mozilla Firefox */
  -ms-transition: color 0.1s linear; /* Internet Explorer */
}

#icono_facebook:hover{
  color: #3b5998;
}

#icono_facebook{
  transition: color 0.4s linear 0.2s;
}

#icono_insta{
  color: white;
  -webkit-transition: color 0.1s linear; /* Chrome y Safari */
  -o-transition: color 0.1s linear; /* Opera */
  -moz-transition: bcolor 0.1s linear; /* Mozilla Firefox */
  -ms-transition: color 0.1s linear; /* Internet Explorer */
}

#icono_insta:hover{
  color: #e1306c;
}

#icono_insta{
  transition: color 0.4s linear 0.2s;
}

#icono_twitter{
  color: white;
  -webkit-transition: color 0.1s linear; /* Chrome y Safari */
  -o-transition: color 0.1s linear; /* Opera */
  -moz-transition: bcolor 0.1s linear; /* Mozilla Firefox */
  -ms-transition: color 0.1s linear; /* Internet Explorer */
}

#icono_twitter:hover{
  color: #1da1f2;
}

#icono_twitter{
  transition: color 0.4s linear 0.2s;
}


#footer_contacto{
  position: relative;
}


.zoom{
	 transition: 1.5s ease;
		-moz-transition: 1.5s ease; /* Firefox */
		-webkit-transition: 1.5s ease; /* Chrome - Safari */
		-o-transition: 1.5s ease; /* Opera */
}
.zoom:hover{
	transform : scale(1.18);
	-moz-transform : scale(1.18); /* Firefox */
	-webkit-transform : scale(1.18); /* Chrome - Safari */
	-o-transform : scale(1.18); /* Opera */
	-ms-transform : scale(1.18); /* IE9 */
}



body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
