#construction{
  /*margin: 20px;*/
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  max-height: 520px;
  width: auto;
  position: relative;

}

@font-face {
  font-family: "FontAwesome";
  src: url("fontawesome-webfont.woff");
}

#icono_facebook{
  color: white;
  -webkit-transition: color 0.1s linear; /* Chrome y Safari */
  -o-transition: color 0.1s linear; /* Opera */
  -moz-transition: bcolor 0.1s linear; /* Mozilla Firefox */
  -ms-transition: color 0.1s linear; /* Internet Explorer */
}

#icono_facebook:hover{
  color: #3b5998;
}

#icono_facebook{
  transition: color 0.4s linear 0.2s;
}

#icono_insta{
  color: white;
  -webkit-transition: color 0.1s linear; /* Chrome y Safari */
  -o-transition: color 0.1s linear; /* Opera */
  -moz-transition: bcolor 0.1s linear; /* Mozilla Firefox */
  -ms-transition: color 0.1s linear; /* Internet Explorer */
}

#icono_insta:hover{
  color: #e1306c;
}

#icono_insta{
  transition: color 0.4s linear 0.2s;
}

#icono_twitter{
  color: white;
  -webkit-transition: color 0.1s linear; /* Chrome y Safari */
  -o-transition: color 0.1s linear; /* Opera */
  -moz-transition: bcolor 0.1s linear; /* Mozilla Firefox */
  -ms-transition: color 0.1s linear; /* Internet Explorer */
}

#icono_twitter:hover{
  color: #1da1f2;
}

#icono_twitter{
  transition: color 0.4s linear 0.2s;
}


#footer_contacto{
  position: relative;
}


.zoom{
	 transition: 1.5s ease;
		-moz-transition: 1.5s ease; /* Firefox */
		-webkit-transition: 1.5s ease; /* Chrome - Safari */
		-o-transition: 1.5s ease; /* Opera */
}
.zoom:hover{
	transform : scale(1.18);
	-moz-transform : scale(1.18); /* Firefox */
	-webkit-transform : scale(1.18); /* Chrome - Safari */
	-o-transform : scale(1.18); /* Opera */
	-ms-transform : scale(1.18); /* IE9 */
}



body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#imagen_principal{
  max-height: 300px;
  position: relative;
/*  height: 650;*/
}

#conocimientos{
  float: left;

}

#mail_icon{
  margin-left: 10px;
}

#ubication_card{
  width: 510px;
}

#ubication_card_image{
  margin-left: 5px;
  margin-top: 5px;
}

#cancel_button{
  margin-right: 5px;
}

.mymodal{
  max-width: 555px;
  max-height: 700px;
}

.servicios_verde{
  background-color: #4caf50;
  color: white;
}

.servicios_gris{
  background-color: #9e9e9e;
  color: white;
}

.texto_verde{
  color: #1b5e20;
}

.green_icon{
  color: #1b5e20;
}

.text_bold{
  font-weight: bold;
}

.icon_left{
  margin-right: 20px;
}


#loader{
  position: absolute;
  top: 50%;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.social{
  position: fixed;
  left: 0;
  top: 35%;
  z-index: 2000;
}

.social ul{
  list-style: none;
}

.social ul li a i{
  display: inline-block;
  color: white;
  background: black;
  padding: 10px 20px;
  width: 55px;
  text-decoration: none;
  -webkit-transition:all 500ms;
  -webkit-transition:all 500ms;
  -o-transition:all 500ms;
  transition: 500ms;
}


.social ul li .fa-facebook{
  background: #3b5998;
}

.social ul li .fa-twitter{
  background: #1da1f2;
}

.social ul li .fa-instagram{
  background: #e1306c;
}

.social ul li a i:hover{
  padding: 15px 50px;
  background: black;

}

.boton_up{
  margin-bottom: 10px;
}

.contacto_text {
  font-size: 18px;
  margin-left: -4%;
}


.imagen{
  box-shadow: none;
  position: relative;
  margin-top: 35px;
}

.imagen_text{
  position: relative;
  margin-left: -17px;
}

.logo_img{
  max-height: 130px;
  position: relative;
  margin-top: -20px;
  width: 200px;
}

.qr_code{
  max-width: 200px;
}